body *{
  box-sizing: border-box;  
}
body{
  background-color: #508165;
  margin: 0 auto;
}
html, body{
  height: 100%
}
main {
  background-color:	#DCE1E4;
  display: flex;
  
}

footer{
  display: flex;

}
.header{
  display: flex;
}